[Desktop Entry]
Type=Application
Name=AB Download Manager
Comment=A Download Manager that speeds up your downloads
Exec=ABDownloadManager
Icon=ABDownloadManager
Terminal=false
Categories=Network;FileTransfer;
Keywords=download;manager;http;ftp;
StartupWMClass=com-abdownloadmanager-desktop-AppKt
